# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/cef.pak
/Debug/cef_100_percent.pak
/Debug/cef_200_percent.pak
/Debug/cef_extensions.pak
/Debug/devtools_resources.pak
/Debug/icudtl.dat
/Debug/locales
/Debug/snapshot_blob.bin
/Debug/renderer.lnk
/Debug/natives_blob.bin
/Debug/main.lnk
/Debug/js
/Debug/debug.log
/Debug/BrowserEmulator.pdb
/Debug/BrowserEmulator.ilk
/Debug/browser.lnk
/Debug/.vs/BrowserEmulator/v14
/build/BrowserEmulator.tlog
/build
*.log
